/* Importing webfonts */
/* (If you're learning CSS, you should disregard that) */

@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic);


/* CSS reset rules */

html, body {
	height: 100%;
	min-height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	display: flex;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Fonts and colors */

body {
	font-family: 'Josefin Sans', serif;
	color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6, header {
	font-family: 'Yeseva One', sans-serif;
}
article {
    flex-direction: row;
}

.about{
	background-color: rgb(241, 242, 249);
	border-radius: 20px;
	height: 150px;
	padding:10px 10px 10px;
	margin-bottom: 15px;
	
}
.goal{
	background-color: rgb(241, 242, 249);
	border-radius: 20px;
	height: 150px;
	padding:10px 10px 10px;
	margin-bottom: 15px;
}
.mission{
	background-color: rgb(241, 242, 249);
	border-radius: 20px;
	height: 150px;
	padding: 10px 10px 10px;
	margin-bottom: 15px;
}

.Vision{
	background-color: rgb(241, 242, 249);
	border-radius: 20px;
	height: 150px;
	padding:10px 10px 10px;
	margin-bottom: 15px;
}


header {
	border-bottom: 10px solid rgb(221,221,221);
	transition: border-bottom-color 1s ease;
	background-color: rgb(222, 223, 254);
	border-radius: 30px;
	border-top: 100px;
	display: flex;
	align-items: center;	
}

header a {
	color: rgba(0, 0, 0, 0.8);
	font-size: larger;
	font-weight: 800;
	align-items: center;
	
}
aside {
	background: rgb(241, 242, 249);
    flex-direction: row;
	
}
aside p {
	border: 1px solid #bbb;
	background: #ddd;
	color: black;
	
}
footer a {
	color: rgba(0, 0, 0, 0.8);
}
a {
	color: #F80002;
}

main {
    display: flex;
	margin-top: 20px;
	

}

/* Positioning and margins */

@media (min-width: 1100px) {
	body {
		width: 1100px;
		margin: 0 auto;
	}
}

article {
	padding: 50px 15px;
}
article > *:first-child {
	margin-top: 0;
}

aside {
	
	border-radius: 40px;
}
header .right {
	float: right;
	margin: 0 10px 15px;
}


/* Header */
header {
	padding: 20px 0;
	height: 30px;
	border-radius: 100
	px;
}
header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header li {
	display: inline;
	vertical-align:middle;
}
header li:first-child {
	margin: 0;
}
header li a {
	margin: 0 10px;
	align-items: center;
	justify-content: center;
	display: flex;
}
header li.logo {
	font-size: 10px;
	font-style: italic;
	font-weight: 500;
	font-family: cursive;
	padding-left: 20px;
}
header a {
	text-decoration: none;
	transition: .5s;
	z-index: -1;

	
}

header a:hover{
	color:rgb(103, 108, 255)
}

header a li{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-bottom:rgb(3, 78, 144);
	border-radius: 15px;
	transform: scale(0) translateY(50px);
	opacity: 0;
	transition: .5s;
}

header a:hover li{
	transform: scale(1) translateY(0);
	opacity: 1;
}


ul li a{
	justify-content: center;
	display: inline-flex;
	align-items: center;
	padding: 0 50px
}

.b-logo{
	align-items: center;
}


/* Aside */

aside p {
	border-radius: 10px;
	padding: 20px 20px;
}


/* Footer */

footer {
	padding: 5px 15px;
	height: 80px;
	display: flex;
	align-content: center;
	justify-content: center;
	color: rgb(103, 108, 255);
}


/* Text styles and margins */

p {
	margin-bottom: 15px;
}
h1 {
	font-size: 36px;
	margin: 40px 0 20px;
}
h2 {
	font-size: 32px;
	margin: 30px 0 15px;
	
}
h3 {
	font-size: 28px;
	margin: 25px 0 10px;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 10px;
}
h5 {
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0 10px;
}
h6 {
	font-weight: bold;
	margin: 5px 0;
}

@media (max-width: 800px) {
  body.works_on_smartphone {
  	display: block;
  }
  body.works_on_smartphone main {
  	display: block;
  }
  header .right {
  	float: none;
  }
}
